.container{
    display: grid;
    width: 100%;
    max-width: 1280px;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    flex-direction: column;
}

.item{
    display: flex;
    flex-direction: row;
    width: 96%;
    height: auto;
    padding: 10px;
    margin-top: 40px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px;
    border-color: rgba(170, 170, 170, 0.11);
    border-style:solid;
    background-color: rgba(131, 131, 131, 0);
    transition:  background-color 0.75s ease;
}
.item:hover{
    background-color: rgba(104, 104, 104, 0.089);
}
.interfirst{
    display: flex;
    padding: 6px;
}

.icone{
    position: relative;
    z-index: 0;
    width: 100%;
}
.intersecond{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100%;
    padding: 6px;
    background-color: rgba(29, 29, 29, 0.075);
    
}
.modal{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 90%;
    background-color: rgba(0, 0, 0, 0.822);
    position: fixed;
    z-index: 1;
    inset: 0 0 0 0;
}

.btnmodalrun{
    
    color: aliceblue;
    border: none;
    width: 120px;
    padding: 12px;
    border-radius: 4px;
    background-color: rgba(34, 32, 32, 0.562);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.158);
}

.btnmodalrun:hover{
    
    color: aliceblue;
    border: none;
    width: 120px;
    padding: 12px;
    border-radius: 4px;
    background-color: rgba(15, 14, 14, 0.438);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.158);
}

.buttoncontiner{
    display: flex;
    width: 100%;
    height: 48px;
    justify-content: space-between;
    align-items: center;
}


.cardtitle{
    color: rgb(219, 219, 219);
    font-size: 24px;
    font-weight: 600;
}
.carddescription{
    color: rgb(190, 190, 190);
    font-size: 16px;
}
.cardskills{
    color: rgb(190, 190, 190);
    font-size: 16px;
}
.car{
    color: rgb(190, 190, 190);
    font-size: 16px;
}

.btnback{
    display: flex;
    width: 100px;
    height: 48px;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    position: absolute;
    inset: 0px 20px;
    border: none;
}

@media  only screen and (max-width: 900px) {
    .item{
        display: flex;
        flex-direction: column;
    }
    .buttoncontiner{
        display: flex;
        width: 100%;
        margin-top: 20px;
        align-items: flex-end;
    }
    .intersecond{
        width: 100%;
        max-width: 400px;
    }
    .carddescription{
        margin-top: 20px;
    }
    .icone{
        width: 100%;
        max-width: 400px;
    }
   

    .cardskills{
        color: rgb(190, 190, 190);
        font-size: large;
        margin-top: 10px;
    }
    .car{
        margin-top: 10px;
    }
}