.container{
    display: grid;
    width: 100%;
    max-width: 1241px;
    grid-template-columns: repeat(1, 1fr); 
    gap: 6px;
    height: auto;
    flex-direction: column;
}
.item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 40px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px;
    border-color: rgba(170, 170, 170, 0.11);
    border-style: solid;
    background-color: rgba(131, 131, 131, 0.1); 
    transition: background-color 0.75s ease, box-shadow 0.75s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
}
.item:hover{
    background-color: rgba(48, 48, 48, 0.541);
}
.interfirst{
    display: flex;
    padding: 4px;
    height: 200px;
}

.icone{
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
}
.intersecond{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: rgba(29, 29, 29, 0.075);
}
.cardtitle{
    display: flex;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    color: rgb(219, 219, 219);
    font-size: 24px;
    font-weight: 600;
}
.intersecondtitle{
    color: rgb(219, 219, 219);
    margin-top: 15px;
}
.cardskills{
    display: flex;
    width: 100%;
    height: auto;
    color: rgb(190, 190, 190);
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 20px;
}
.carddescription{
    display: flex;
    width: 100%;
    min-height: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(190, 190, 190);
    font-size: 16px;
}
.buttoncontiner{
    display: flex;
    width: 100%;
    height: 48px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 6px;
    justify-content: space-between;
    align-items: center;
}
.modal{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 90%;
    background-color: rgba(0, 0, 0, 0.822);
    position: fixed;
    z-index: 1;
    inset: 0 0 0 0;
}

.btnmodalrun{
    color: aliceblue;
    border: none;
    width: 120px;
    padding: 12px;
    border-radius: 4px;
    background-color: rgba(34, 32, 32, 0.562);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.158);
    transition: all 0.75s ease;
}

.btnmodalrun:hover{
    
    color: aliceblue;
    border: none;
    width: 120px;
    padding: 12px;
    border-radius: 4px;
    background-color: rgb(40, 131, 78);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.158);
}

.rating{
    color: rgb(190, 190, 190);
    font-size: 16px;
}

.btnback{
    display: flex;
    width: 100px;
    height: 48px;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    position: absolute;
    inset: 0px 20px;
    border: none;
}

.divembed{
    display: flex;
    width: 100%;
    min-height: 100vh;
}

/* Estilo para telas pequenas (até 600px)*/
@media only screen and (min-width: 600px)  and (max-width: 819px){
    .container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

/* Estilo para telas médias (de 820px a 1024px)*/
@media only screen and (min-width: 820px) and (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(3, 1fr); 
        gap: 10px;
    }
}

/* Estilo para telas grandes (acima de 1024px)*/
@media only screen and (min-width: 1025px) {
    .container {
        grid-template-columns: repeat(4, 1fr); 
        gap: 10px;
    }
}