.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 48px);
    background-color: #34353A;
}

.hovermedia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    width: 100%;
    height: calc(100vh - 96px);
    background-color: rgba(44, 44, 44, 0.699);
}
.containerseach{
    display: flex;
    padding: 6px;
    background-color: rgba(240, 248, 255, 0.795);
    border-radius: 12px;
}
.contsearch{
    width: 100%;
    height: 42px;
    background-color: rgba(240, 248, 255, 0.795);
    border-color: rgba(240, 248, 255, 0.795);
    border-radius: 12px;
    font-size: 1.2rem;
    color: #363636;
    padding: 10px;
}
.contsearch:focus{
    outline: none;
    border-color: rgba(255, 255, 255, 0);
}
.btnseach{
    display: flex;
    width: auto;
    height: auto;
    padding: 6px;
    align-items: center;
    justify-content: center;
}
.movieplay{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 0;
    top: 46px;
    bottom: 46px;
    width: 100%;
    min-height: calc(100% - 96px);
    background-color: rgb(20, 20, 20);
}
.cardlist{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 1;
    bottom: 56px;
    left: 8%;
}
.card{
    width: 100px;
    height: 140px;
    padding: 2px;
}
.btnclose{
    display: flex;
    position: absolute;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(240, 248, 255, 0.219);
    z-index: 100;
    left: 40px;
    top: 40px;
    border-radius: 6px;
    
}
.btnclose:hover{
    display: flex;
    position: absolute;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(240, 248, 255, 0.421);
    z-index: 100;
    left: 40px;
    top: 40px;
    border-radius: 6px;
    
}
.imgcover{
    width: 80px;
}

.contmediahome{
    display: flex;
    flex-direction: column;
    width: 50%;
    color: aliceblue;
    background-color: aqua;

}


@media ( min-width: 720px){
 .container{
    min-height: calc(100vh - 96px);
 }   

 
  
}