.container {
    padding: 0;
    overflow: hidden;
    background-color: #34353A;
  }
  
  .main {
    min-height: calc(100vh - 130px);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }