.container {
  padding: 0;
  overflow: hidden;
  background-color: #34353A;
}

.main {
  min-height: calc(100vh - 130px);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  height: 80px;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #868686;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  font-weight: 600;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 1.5rem 0;
  line-height: 1.5;
  font-size: 1.2rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  display: grid;
  width: 90%;
  background-color: #0070f3;
  grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
  gap: 16px;
  flex-wrap: wrap;
  max-width: 800px;
}

.card{
  display: flex;
  padding: 2.5rem;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 200px;
  max-width: 200px;
  background-color: #303135;
  transition: color 0.15s ease, border-color 0.15s ease, box-shadow 0.6s ease;
  border: none;
  color: #e6e6e68f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card:hover,
.card:focus,
.card:active {
  color: #eaeaea;
  border-color: #0070f3;
  box-shadow: 0 6px 16px rgba(179, 179, 179, 0.1);
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.menutop {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  color: #f5f5f5;
  padding-left: 35px;
  padding-right: 35px;
}
.mobilemenu{

}

.desktopmenu{
  display: none;
}

.banner {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1240px;
  height: 360px;
  background-image: url('/montain.jpg');
  background-size: cover;
  background-position: center;
}


.banner::before {
  content: '';
  z-index: 0;
  position: absolute;
  inset: 0 0 0 0;
  background: rgba(0, 0, 0, 0.637); 
}


.profilecard{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 20px;
  width: auto;
  z-index: 1;
  max-width: 220px;
  height: auto;
  background-color: #303135a1;
  border: none;
  border-radius: 8px;
  color: #e6e6e68f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.418);
}

.datacardprof{
 display: flex;
 width: 100%;
 flex-direction: column;
 font-size: 18px;
 margin-top: 16px;
 color: #bebebe;
}
 
.hi{
  display: flex;
  position: absolute;
  font-family: 'Raleway', sans-serif;
  color: #e4e4e4fd;
  z-index: 1;
}

.contbannerinto{
  display: flex;
  flex-direction: column;
  width: 22%;
  height: 100%;
  font-size: 36px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  color: #ccccccd3;
}
.contbannerintotext {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 36px;
  font-weight: 600;
  justify-content: center;
  color: #ccccccd3;
}
.contbutton{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px;
  width: auto;
  height: auto;
  border: none;
  color: #bebebe;
  border-radius: 100px;
  background-color: #8686864b;
  font-size: 18px;
  box-shadow: #22222259 0 4px 6px  -5px;
}
.contbutton:hover{
  color: #f5f5f5;
  background-color: #a3a3a34b;
  box-shadow: #22222259 0 7px 10px  -5px;
}
.contlinebtn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-top: 16px;
}
.contmove{
  display: flex;
  width: 100%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
  align-items: center;
}
.contant{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #2e2e2e17;
}
.firstsection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.secondsection{
  display: flex;
  width: 100%;
  height: 240px;
  justify-content: center;
  align-items: center;
}
.secondcenter{
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1124px;
  align-items: center;
  justify-content: center;
}
.text{
  display: flex;
  width: 70%;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  margin: 10px;
  color: #e6e6e67c;
}
.titletext{
  font-size: 32px;
  margin: 10px;
  
}
.titletextsecondary{
  font-size: 26px;
  margin: 10px;
  color: #e6e6e6e0;
}

.linebass{
  display: flex;
  width: 100%;
  max-width: 1124px;
  height: 80px;
  flex-direction: row-reverse;
  align-items: center;
}
.btnseeall{
  display: flex;
  width: auto;
  height: auto;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #e2e2e2;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: #474747e3;

}

.btnseeall:hover{ 
  background-color: #616161e3;
  box-shadow: #22222259 0 4px 6px  -5px;
}



@media (min-width:768px){
  .mobilemenu{
    display: none;
 }
 
 .desktopmenu{
   display: flex;
 }

 

}

@media (max-width:768px){
  
  .contbannerinto{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    font-size: 36px;
    font-weight: 600;
    color: #ccccccd3;
  }
  .contbannerintotext {
    display: none;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    font-size: 36px;
    font-weight: 600;
    justify-content: center;
    color: #ccccccd3;
  }

  .profilecard{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    z-index: 1;
    height: auto;
    background-color: #303135a1;
    border: none;
    border-radius: 8px;
    color: #e6e6e68f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.418);
  }

  .datacardprof{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 20px;
    color: #bebebe;
   }
    
  

} 







@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
 
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
